@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-header-bg {
    background-color: #90040a !important;
  }
  .bg-navbar-bg {
    background-color: #343a40 !important;
  }
  .sidebar-brand {
    border-bottom: none !important;
  }
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
