@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .bg-header-bg {
    background-color: #90040a !important;
  }
  .bg-navbar-bg {
    background-color: #343a40 !important;
  }
  .sidebar-brand {
    border-bottom: none !important;
  }
  .nav-item.active, .nav-item:hover {
    background-color: #90040a !important;
  }
  body.sidebar-collapse .sidebar-brand .brand-text {
    display: none !important;
  }
  body.sidebar-collapse .app-sidebar:hover {
    width: 250px !important;
  }
  body.sidebar-collapse .app-sidebar:hover .brand-text {
    display: inline !important;
  }
}

/*

@layer components {
  .btn-primary {
    @apply py-2 px-4 bg-blue-200;
  }
}

*/
