<aside class="shadow app-sidebar bg-navbar-bg">
<div class="sidebar-brand bg-header-bg !border-b-0" >
  <a href="../index.html" class="brand-link">
    <%= image_tag "naafag-logo.png", alt: "Logo", class: "brand-image" %> <!--end::Brand Image--> <!--begin::Brand Text-->
    <span class="text-white brand-text fw-light">GESTÃO NAAFAG</span>
  </a>
</div>
<div class="sidebar-wrapper">
  <nav class="mt-2">
    <ul class="nav sidebar-menu flex-column" data-lte-toggle="treeview" role="menu" data-accordion="false">
      <li class="nav-item"> 
        <a href="#" class="text-white nav-link"> 
          <i class="nav-icon bi bi-speedometer"></i>
          <p>Dashboard<i class="nav-arrow bi bi-chevron-right"></i></p>
        </a>
        "<ul class="nav nav-treeview">
            <li class="nav-item"> <a href="../index.html" class="text-white nav-link"> <i class="nav-icon bi bi-circle"></i>
              <p>Dashboard v1</p></a> 
            </li>
            <li class="nav-item"> <a href="../index2.html" class="text-white nav-link"> <i class="nav-icon bi bi-circle"></i>
              <p>Dashboard v2</p></a> </li>
            <li class="nav-item">
              <a href="../index3.html" class="text-white nav-link"> <i class="nav-icon bi bi-circle"></i>
                <p>Dashboard v3</p>
              </a> 
            </li>
        </ul>"
      </li>
    </ul> 
  </nav>
</div>
</aside>
